.reset-password_container{
    margin-top: 100px;
    align-items: center;
}
.reset-password_img{
    width: 200px !important;
}
.reset-password_img_container{
    text-align: center !important;
}
@media(max-width:750px){
    .reset-password_container{
        margin-right: 20px;
        margin-left: 20px;
    }
}